---
layout : default
title : 2019 | sermons
---

{% include sermon_intro.html %}
{% include sermon_dropdown.html %}

<!-- SERMONS -->
<div class="section sectionSermon">
  <div class="container light-blue z-depth-2">
    <h3 class="center white-text">2019 Sermons</h3>
    <div class="row">
      {% assign my_counter=0 %}
      {% for article in site.pages %}
        {% if article.layout == 'sermons_sunday' and article.title contains 2019 %}

          {% if two == 0 and my_counter != 0%}
          <hr class="col s12 hide-on-large-only hide-on-small-only">
          {% endif %}

          <div class="col s12 m6 vito z-depth-2">
            <p><a href="{{site.baseurl}}/{{article.url}}">{{ article.heading }}</a></p>
            <p>{{ article.date }}</p>
          </div>

          {% assign my_counter = my_counter | plus: 1 %}
          {% assign two = my_counter | modulo:2 %}

        {% endif %}
        {% if my_counter == 21 %}
          {% break %}
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <!-- <div class="container">
    <ul class="pagination">
      <li class="active disabled z-depth-2"><a href="#!">1</a></li>
      <li class="waves-effect z-depth-2 light-blue"><a href="golden_nuggets_2.html">2</a></li>
    </ul>
  </div> -->

</div>
