
<div class="row">
  <div class="col s12 m6">
    <h5 class="center"><i class="medium material-icons red-text">place</i>Gloryland Academy, Nakuru, Kenya</h5>
    <div class="video-container">
      <iframe class="responsive-video"style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.7757479046018!2d36.11635611475343!3d-0.26468279980688386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182993ecf461859f%3A0x6b7c395ad7af6615!2sGloryland+Academy!5e0!3m2!1sen!2ske!4v1540043164749" width="1200" height="450" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    </div>
  </div>
  <div class="col s12 m6">
    <h5 class="center"><i class="medium material-icons white-text">email</i></h5>
    <ul class="collection with-header white">
      <li class="center collection-header"><h5>Contact us on</h5></li>
      <li class="collection-item">Capstone Message Tabernacle</li>
      <li class="collection-item">P.O. BOX 10073-20100, Nakuru Kenya</li>
      <li class="collection-item">Tel. 0714479997</li>
      <li class="collection-item">Email: <a href="mailto:info@capstonemessage.org">info@capstonemessage.org</a></li>
    </ul>
  </div>
</div>
