<!-- MUSIC -->
<li class="bold">
  <a class="collapsible-header "><i class="material-icons">audiotrack</i>Music</a>
  <div class="collapsible-body">
    <ul id="musicNav">
      <li><a href="{{ site.baseurl }}/music/"><i class="material-icons">audiotrack</i> Home</a></li>
      <li><a href="{{ site.baseurl }}/music/audios.html"><i class="material-icons">library_music</i>Audio</a></li>
      <li><a href="{{ site.baseurl }}/music/videos.html"><i class="material-icons">video_library</i> Video</a></li>
      <li><a id="audioMusic" href="{{ site.baseurl }}/music/audio.html">Audio</a></li>
    </ul>
  </div>
</li>
