---
layout : default
title : Series | Sermons
---

{% include sermon_intro.html %}
{% include sermon_dropdown.html %}

<section class="section light-blue ">
  <div class="container">
    <h3 class="center white-text">Sermon Series</h3>
  </div>

  <hr>

  <div class="container">
    <div class="row white">
      <div class="col s12 m6 l4 z-depth-2">
        <h5 class="center"><a class="" href="/sermons/series/golden_nuggets.html">Vito vya Bibilia <small>(Golden Nuggets)</small></a></h5>
      </div>
    </div>
  </div>
</section>
