---
layout : sermons
---
{% if page.paginate == 'two' %}
  {% assign link='index_2.html' %}
{% elsif page.paginate == 'three'%}
  {% assign link='index_3.html' %}
{% else %}
  {% assign link='index.html'%}
{% endif %}

<section class="section sectionSermon">
  <div class="container">
    {% if page.year == 2020 %}
    {% assign year=2020 %}
    <a href="{{ site.baseurl }}/sermons/{{year}}/{{link}}" class="z-depth-3"><i
        class="blue white-text material-icons">navigate_before</i></a>
    {% else %}
    {% assign year=2019%}
    <a href="{{ site.baseurl }}/sermons/{{year}}/{{link}}" class="z-depth-3"><i class="blue white-text material-icons">navigate_before</i></a>
    {% endif %}
    <h5 class="blue-text">{{page.heading}}</h5>
  </div>
</section>

<section class="section frames z-depth-2 light-blue accent-4">
  <div class="container">
    {{content}}
  </div>
</section>
